@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  font-feature-settings: "salt" on, "liga" on;
}

/* Optional: Add custom font settings for specific elements */
h1, h2, h3, h4, h5, h6 {
  @apply font-medium tracking-tight;
}

.text-balance {
  max-width: 100%;

  word-break: break-word;

  overflow-wrap: break-word;

  -webkit-hyphens: auto;
  hyphens: auto;

}